@charset "UTF-8";

* {
    padding: 0PX;
    margin: 0px;

}

:root {
    --preto-suave: rgba(0, 0, 0, 0.911);
    --rocho-forte: rgb(13, 1, 24);
    --rocho-menos-forte: rgb(23, 3, 43);
    --branco-fraco: rgba(255, 255, 255, 0.815);
    --branco-normal: white;
    --rosa: rgb(196, 46, 71);
    --vermelho: rgba(255, 0, 0, 0.733);


}
body{
    width: 100vw;
}

header {
    background-image: url(../imagens/cafe_da_manha.jpg);
    background-repeat: no-repeat;

   background-position: center;
     background-size: cover;
     
    color: var(--branco-fraco);


}

header nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;

}

header li{
    display: inline;
    list-style: none;

}

header a{
    text-decoration: none;
    color: var(--branco-fraco);
    margin: 10px;
    transition-duration: 1s;
}

header a:hover{
    color: var(--rosa);

}
.dh{
    padding: 20%;
    text-align: center;
    max-width: 300px;
    margin: auto;
}


main {
    display: grid;
    grid-template-rows: max-content max-content max-content max-content max-content;
    grid-template-areas: "s1" "s2" "s3" "s4" "s5";

}

.s1 {
    grid-area: s1;
    display: flex;
    justify-content: space-between;
    padding: 15%;
    background-color: var(--vermelho);
    align-items: center;
    gap: 20px;
}

.s1 div{
    text-align: center;
    color: var(--branco-fraco);
    max-width: 300px;
}
.s1 h2{
    margin-bottom: 15%;
    text-decoration: underline solid var(--branco-fraco);
    text-underline-offset: 20px;
    
}

.s1 img{
    width: 40%;
    height: 100%;
}

.s2 {
    grid-area: s2;
    padding: 10%;
    background-image: url(../imagens/imagem1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: var(--branco-fraco);
    text-align: center;
    background-position-y: center;
    
}

.s2 div{
    max-width: 300px;
    margin: auto;
}
.s2 h2{
    text-decoration: underline solid var(--branco-fraco);
    margin-bottom: 8%;
    text-underline-offset: 20px;    
}

.s3 {
    grid-area: s3;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: max-content max-content;
    grid-template-areas: "title title" "d1 d2";
    gap: 20px;  
    margin: 20px 40px;

}

.s3 div div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.s3 div div > p{
    color: var(--vermelho);
    font-size: small;

}
.d1{
    grid-area: d1;
    max-width: 500px;
    margin: auto;
}
.d2{
    grid-area: d2;
    max-width: 500px;
    margin: auto;
}

.s3 h3{
    margin: 10px 0px;
    max-width: 300px;

}

.s3 h2{
    grid-area: title;
    text-align: center;
    margin: 20px;
    text-decoration: underline solid var(--rosa);
    text-underline-offset: 10px;
    /* font-family: ; */
}

.s4 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2% 0%;
}
.s4 img{
    width: 30%;
}

.s5 {
    background-color: var(--rocho-menos-forte);
   
    color: var(--branco-fraco);

}
table{
    margin: auto;
    size: 100%;
    padding: 5%;
}

tr{
    padding: 10px;
}
.s5 th{
    text-align: left;
}

footer {
    background-color: var(--rocho-forte);
    color: var(--branco-fraco);
    justify-content: center;
    padding: 2%;

}
footer a{
    text-decoration: none;
    color: var(--branco-fraco);

}
footer ul{
    display: flex;
    justify-content: space-between;
    list-style: none;

}