@charset "UTF-8";

* {
    padding: 0PX;
    margin: 0px;

}

:root {
    --preto-suave: rgba(0, 0, 0, 0.911);
    --rocho-forte: rgb(13, 1, 24);
    --rocho-menos-forte: rgb(23, 3, 43);
    --branco-fraco: rgba(255, 255, 255, 0.815);
    --branco-normal: white;
    --rosa: rgb(196, 46, 71);
    --vermelho: rgba(255, 0, 0, 0.733);


}

header {
    background-image: url(../imagens/pexels-elizabeth-zernetska-9001223.jpg);
    background-repeat: no-repeat;
    color: var(--branco-fraco);
    text-align: center;
    background-position: center;
    background-size: cover;
}

header nav {
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    gap: 2%;
    list-style-type: none;
}

.dh {
    justify-content: center;
    padding: 20%;
    
}

main {
    display: grid;
    grid-template-rows: max-content max-content max-content max-content max-content;
    grid-template-areas: "s1" "s2" "s3" "s4" "s5";

}
.s1{grid-area: s1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    gap: 5%;
    background-color: var(--vermelho);    
    color: var(--branco-fraco);
}

.s1 img{
    width: 50%;
    height: 60%;
}
.s1 p, h2{
    text-align: center;
}


.s1 h2{
    text-decoration: underline solid var(--branco-normal);
    text-underline-offset: 15px;
    margin: 10%;

}
.s2{grid-area: s2;
    background-image: url(../imagens/pexels-ivan-samkov-8951561.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 10%;
    color: var(--branco-fraco);

}
.s2 div{
    max-width: 50%;
    margin: auto;
    text-align: center;
}
.s2 h2{
    margin: 10%;
    text-decoration: underline solid var(--vermelho);
    text-underline-offset: 10px;

}
.s3{grid-area: s3;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: max-content max-content;
    grid-template-areas: "h2 h2" "d1 d2";
    gap: 10%;
    padding: 10%;
    font-size: smaller;
}
.s3 h2{
    grid-area: h2;
    text-decoration: underline solid var(--vermelho);
    text-underline-offset: 10px;
}

.d1{
    grid-area: d1;
}

.d1 div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4%;
}
.s3 div div p{
    color: var(--vermelho);
}
.s3 div > p{
    color: rgba(0, 0, 0, 0.637);
    margin-bottom: 5%;
}
.d2{
    grid-area: d2;
    
}
.d2 div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4%;
}
.s4{grid-area: s4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.s4 img{
    width: 30%;
}
.s5{
    grid-area: s5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
    color: var(--branco-fraco);
    background-color: var(--rocho-menos-forte);
}
footer {}